.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.nav-link {
    text-align: center;
}

#page {
    display: flex;
}


#right {
    height: auto;
    width: 100%;
    margin-left: 160px;
    padding-left: 10px
}